body {
  background: rgb(162, 71, 21);
}

#content {
  background: white;
  height:1000px;
  margin: 0 auto;
  width: 65%;
}

#fish {
  position: absolute;
  left: 20%;
  top: 0;
  z-index: 1;
}

h1 {
  color: white;
  font-family: 'Bahianita', cursive;
  font-size: 8em;
  position: absolute;
  left: 45%;
  top: 100px;
  z-index: 2;
}

h2 {
  font-size: 1.5em;
}

table, th, td {
  border: 1px solid black;
  padding: 0.2em 0.5em;
}

th {
  font-weight: 600;

}